<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('pizza-animation') }}
        {% endblock %}
        <script>
            {% set cart = cart_service.getCart() %}
            // Set up global variables for Vue components
            window.isAdmin = {{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }};
            window.csrf_tokens = { 'form_id': '{{ csrf_token('form_id') }}' };
            window.cartData = {{ cart|json_encode|raw }};
            window.cartCurrency = "{{ currency }}";
        </script>
    </head>
    <body class="min-h-screen dark:bg-black">

    <div id="app">
        {#  #}
    </div>

    {# Main Content #}
    <div class="container mx-auto p-6">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get References to the Cart Icon and the Dropdown
        const cartTrigger = document.getElementById('cart-trigger');
        const cartDropdown = document.getElementById('cart-dropdown');

        // Add Click Event Listener to the Cart Icon
        cartTrigger.addEventListener('click', (event) => {
            event.preventDefault(); // Prevent default behavior of anchor
            // Toggle the "hidden" class on the dropdown
            cartDropdown.classList.toggle('hidden');
        });

        // Optional: Hide the dropdown if you click anywhere outside it
        document.addEventListener('click', (event) => {
            if (!cartTrigger.contains(event.target) && !cartDropdown.contains(event.target)) {
                cartDropdown.classList.add('hidden');
            }
        });
    });
</script>